/* Estilos Generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #FAF7F5;
  color: #1A4736;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav {
  background-color: #1A4736;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: block;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #FAF7F5;
  color: #1A4736;
  border-radius: 5px;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #1A4736;
  border-bottom: 2px solid #6C757D;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
  color: #000000;
}

footer {
  background-color: #1A4736;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

/* Estilos para el contenedor con imágenes flotantes */
.contenedor-float {
  width: 700px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.contenedor-float img {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  margin-right: 0px;
}

/* Estilos para la imagen y su contenedor */
.contenedor {
  width: 320px;

  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contenedor img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}